@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

body {
  background-color: lightcyan;
  font-family: "Muli", sans-serif;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.button {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn{
border-radius: 5px;
border: none;
height: 50px;
background-color: blueviolet;
color: white;
width: 6cqmin;
text-align: center;
font-size: 10px;
cursor: pointer;
}